@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}