<footer class="footer">
  <small>
    Bookshelf supported by <a href="http://rubyonrails.org/">Ruby on Rails</a>
    and <a href="http://getbootstrap.com/">Bootstrap</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/qingc">About</a></li>
      <li><a href="https://github.com/qingc">Contact</a></li>
    </ul>
  </nav>  
</footer>